
body {
    font-family: "Proxima Nova", sans-serif;
    font-weight: normal;
    color: white;
}

body.tpl {
    background: url("../images/landing-bg.png") no-repeat center 0;
    height: 4400px;
    position: relative;
    opacity: .3;
    z-index: -20;
    background-size: 1400px;
}

img {
    max-width: 100%;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    transition: all .2s ease;
}

a:hover, a:active {
    color: #5ECBA1;
}

.btn-v-dark {
    background: #14172E 0% 0% no-repeat padding-box;
}

.btn-v {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5ECBA1;
    box-shadow: 0px 12px 60px #5ECBA14D;
    width: 210px;
    height: 55px;
    color: #040930;
    border-radius: .375rem;
    font-weight: 700;
}

.btn-v:hover {
    border: 1px solid #5ECBA1;
    color: #5ECBA1;
    background: transparent !important;
    box-shadow: 0px 12px 60px #5ECBA180;
}

h2 {
    color: #FFFFFF;
}
.headline {
    text-align: center;
}
.headline h2 {
    padding-top: 1.25rem;
    line-height: 1.3;
    font-weight: 600;
    font-size: 1.875rem;
}
.v-color {
    color: #5ECBA1;
}

@keyframes man-scale {
    0% {
        transform: translateY(-5px);
    }

    25% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(-35px);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes lights {
    0% {
        box-shadow: 0 0 5px 2px #ffffff50;
    }

    25% {
        box-shadow: 0 0 7px 3px #ffffff75;
    }

    50% {
        box-shadow: 0 0 10px 4px #ffffff;
    }

    75% {
        box-shadow: 0 0 7px 3px #ffffff75;
    }

    100% {
        box-shadow: 0 0 5px 2px #ffffff50;
    }
}
