==
<header>
	<div class='container'>
			<div class="header">
				<div class="header-logo">
					<a href="#">
						VAVILON
					</a>
				</div>
				<div class='header-side'>
					<ul class='header-links'>
						<li class='header-link'>
							<a href="#concept">О проекте</a>
						</li>
						<li class='header-link'>
							<a href="#products">Продукты</a>
						</li>
						<li class='header-link'>
							<a href="#road">Дорожная карта</a>
						</li>
						<li class='header-link'>
							<a href="#app-hook">Приложения</a>
						</li>
					</ul>
					<div class='header-login'>
						<a class='btn btn-dark' href="#">
							Личный кабинет
						</a>
					</div>
				</div>
			</div>
			<div class="header-banner">
				<div class='row'>
					<div class="col-md-7">
						<div class='header-banner-info'>
							<a href="#" class='v-color header-banner-info-link'>
								vavilon
							</a>
							<h2>ПЛАТФОРМА ПОИСКА И РАЗМЕЩЕНИЙ ИНВЕСТИЦИОННЫХ СТРАТЕГИЙ</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<a href="#" class='btn btn-v'>Начать тестирование</a>
						</div>
					</div>
					<div class="col-md-5">
						<div class='header-banner-img'>
							<img src="{{'assets/images/landing/banner-device.svg'|theme}}" alt="device">						
						</div>
					</div>
				</div>
			</div>
	</div>
</header>