==
<section class='application'>
	<div class='container'>
		<div class="application-container" id='app-hook'>
				<div class='row'>
					<div class="col-md-7">
						<div class='application-info'>
							<h2>PERSONAL ASSISTANT <br> IN YOUR POCKET</h2>
							<p>Download our application and use, wherever you are.</p>
							<ul class='application-info-mobile-stores'>
								<li>
									<a href="#">
										<img src="{{'assets/images/landing/play-market.png' | theme}}" alt="play-market">
									</a>
								</li>
								<li>
									<a href="#">
										<img src="{{'assets/images/landing/app-store.png' | theme}}" alt="app-store">
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-5">
						<div class='application-img'>
							<img src="{{'assets/images/landing/mobile2.svg'|theme}}" alt="device">						
						</div>
					</div>
				</div>
		</div>
	</div>
</section>