==
<section class='concept'>
	<div class='container'>
		<div class="concept-top" id='concept'>
			<h2>БАЗОВАЯ КОНЦЕПЦИЯ</h2>
			<p>Цена полярных токенов зависит от результатов конкретных внешних событий.</p>
			<div class='concept-blocks row'>
				<div class="col-md-4">
					<div class='concept-block'>
						<p>Если Белая команда выиграет, то цена БЕЛОГО жетона выра стет, 
						а цена ЧЕРНОГО жетона упадетна ту же сумму.</p>
					</div>
				</div>
				<div class="col-md-4">
					<h4 class='v-color'>Полярные жетоны</h4>
				</div>
				<div class="col-md-4">
					<div class='concept-block'>
						<p>Если Белая команда выиграет, то цена БЕЛОГО жетона выра стет, 
						а цена ЧЕРНОГО жетона упадетна ту же сумму.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="concept-schema">
			<div class="concept-schema-top">
				<div class='concept-schema-top-text align-items-start'>
					<h6>Белый токен</h6>
					<p>0,55 Доллар США</p>
				</div>
				<div class='concept-schema-line'></div>
				<div class='concept-schema-middle'>
					<img src="{{'assets/images/landing/balance.svg'|theme}}" alt="balance">
				</div>
				<div class='concept-schema-line'></div>
				<div class='concept-schema-top-text align-items-end'>
					<h6>Черный токен</h6>
					<p>0,55 Доллар США</p>
				</div>
			</div>
			<div class="concept-schema-bottom">
				<div class='rec-container left'>
					<div class='rec'>
						<div class="rec-inner">
							<div class="rec-inner-rec"></div>
						</div>
					</div>
					<div class='line'></div>
				</div>
				<div class='concept-schema-line left'></div>
				<div class='concept-schema-middle'>
					<h3>1 $</h3>
				</div>
				<div class='concept-schema-line right'></div>
				<div class='rec-container right'>
					<div class='rec'>
						<div class="rec-inner">
							<div class="rec-inner-rec"></div>
						</div>
					</div>
					<div class='line'></div>
				</div>
			</div>
		</div>
	</div>
</section>