==
<section class='road'>
	<div class='container'>
		<div class='road-container'>
			<div class='road-headline headline' id='road'>
				<h2>ДОРОЖНАЯ КАРТА</h2>
			</div>
			<div class='road-content'>
				<ul class='road-content-cards'>
					<li class='road-content-card'>
						<h6>Сентябрь / 2020</h6>
						<p>Завершение разработки смарт-контракта (базовый пул, дополнительный пул, жизненный цикл события)</p>
						<p class='road-content-card-check'>
							<i class="fas fa-check"></i>
							<span>Выполнено</span>
						</p>
					</li>
					<li class='road-content-card'>
						<h6>Сентябрь / 2020</h6>
						<p>Завершение разработки смарт-контракта (базовый пул, дополнительный пул, жизненный цикл события)</p>
						<p class='road-content-card-check'>
							<span>Выполнено</span>
							<i class="fas fa-check"></i>
						</p>
					</li>
					<li class='road-content-card'>
						<h6>Сентябрь / 2020</h6>
						<p>Завершение разработки смарт-контракта (базовый пул, дополнительный пул, жизненный цикл события)</p>
						<p class='road-content-card-check'>
							<i class="fas fa-check"></i>
							<span>Выполнено</span>
						</p>
					</li>
					<li class='road-content-card'>
						<h6>Сентябрь / 2020</h6>
						<p>Завершение разработки смарт-контракта (базовый пул, дополнительный пул, жизненный цикл события)</p>
						<p class='road-content-card-check'>
							<span>Выполнено</span>
							<i class="fas fa-check"></i>
						</p>
					</li>
					<li class='road-content-card'>
						<h6>Январь / 2021</h6>
						<p>Завершение разработки смарт-контракта (базовый пул, дополнительный пул, жизненный цикл события)</p>
						<p class='road-content-card-check'>
							<i class="fas fa-spinner"></i>
							<span>В ходе выполнения</span>
						</p>
					</li>
					<li class='road-content-card'>
						<h6>Февраль / 2021</h6>
						<p>Завершение разработки смарт-контракта (базовый пул, дополнительный пул, жизненный цикл события)</p>
						<p class='road-content-card-check'>
							<span>Выполнено</span>
							<i class="fas fa-chevron-right"></i>
						</p>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>