==
<section class='video'>
	<div class='container'>
		<div class='video-container row'>
			<div class='col-md-6'>
				<div class='video-player'>
					<video width="100%" height="auto" poster="{{'assets/images/landing/video-preview.png'|theme}}">
					    <source src="video.mp4" type="video/mp4">
			    </video>
				</div>
			</div>
			<div class='col-md-6'>
				<div class='video-info pl-4'>
						<h2>VAVILON COMPANY</h2>
							<p>Eliminate all indirect links between advertisers and publishers by applying smart contracts for all types of tracking. Forex, stocks and cryptocurrency trading. No hidden fees and commissions
							</p>
							<a href="#" class='btn btn-v'>Начать тестирование</a>
				</div>
			</div>
		</div>
	</div>
</section>